body{
    font-family: "Nunito", sans-serif;
}

.navbar {
    background-color: #642c20;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #642c20;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.carousel img{
    width: 100%;
    display: flex;
}
    
.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Pacifico ,cursive;
}

#sobre-o-cafe,
#cardapio {
    background-color: #b1958f;
}

.text-colored {
    color: #502319;
}

.nav-cardapio .nav-link.active,
#fale-conosco button{
    background-color: #642c20;
    color: #fff;
}

.nav-cardapio .nav-link:hover{
    color: #83564c;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px){
    .carousel-item img {
        height: 280px  ;
    }

    
}